.board-container{
  margin: 20px 40px;
  width: 100%;
}
.board-navbar{
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
}
.board-cols{
  display: flex;
  gap: 20px;
  margin-top: 40px;
}
.board-col{
  width: 20%;
  min-height: 200px;
  color: #6c757d;
  font-size: 15px;
  background-color: #e9ecef;
  text-align: center;
  padding: 10px 0;
  border-radius: 7px;
}