.issue-modal{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  padding: 10px;
  height: fit-content;
  border: 1px solid gray;
  border-radius: 7px;
  margin-top: 20px;
}
.issue-modal h4{
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}
.issue-modal-table{
  display: flex;
  gap: 60px;
}
.issue-modal-table div{
  display: flex;
  flex-direction: column;
  gap: 20px;
}