.task-item {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);;
}

.task-item:first-child {
    border-radius: 10px 10px 0 0 ;
}

.task-item:last-child {
    border-radius:0 0 10px 10px;
}

