.task-item {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);;
}

.task-item:first-child {
    border-radius: 10px 10px 0 0 ;
}

.task-item:last-child {
    border-radius:0 0 10px 10px;
}

.task-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.task-subtitle {
    padding: 0;
    margin: 0 0 0 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.todolist__subtitle:hover {
    opacity: 0.8;
    transition: opacity 0.5s;
}


.task-subtitle__important {
    font-weight: bold;
    color: rgb(53, 23, 252);
}

.task-subtitle__done {
    text-decoration: line-through;
}